{{define "subject"}}Test from Static Form{{end}}

{{define "plainBody"}}
Hi,

your emails from Static Form are properly sent.

Best,
Static Form
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hi,</p>
        <p>your emails from Static Form are properly sent.</p>
        <p>Best,</p>
        <p>Static Form</p>
    </body>
</html>
{{end}}
